
<div class="navbar">
  <h1>Práctica 1 - Programación 2 - Francisco Adrianza</h1>
  <img class="logo" src="https://lh5.googleusercontent.com/proxy/yg5tkChJaQ_lRppQJtlb2DyZWy_YHvBYNDTtbOyfw8kqBy7yHRvqJ9XvndlC3Z1GUbE6z5JtkgoY5Po5TnavRxB5Ag4x" alt="logo_unet">

</div>

<div class="app">

  <form class="app-wrapper" [formGroup]="form">
    <h2>Analizador de frecuencia de palabras</h2>
    <hr>

    <div class="file-input" (click)="inputTexto.click()">
      <label *ngIf="!inputTexto.value; else inputTextoLleno">Selecciona archivo de texto a evaluar (.in):</label>
      <ng-template #inputTextoLleno>
        <label>Archivo seleccionado. Cambiar archivo</label>
      </ng-template>
      <input type="file" (change)="cargarArchivoTexto($event)" accept=".in" #inputTexto hidden/>

    </div>

    <div class="input-filled">
      <label>Texto:</label>
      <textarea
      formControlName="texto"  rows="5" cols="50" placeholder="Escribe o pega el texto aquí..."></textarea>
    </div>

    <div class="file-input" (click)="inputProhibidas.click()">
      <label *ngIf="!inputProhibidas.value; else inputTextoLleno">Selecciona archivo de palabras prohibidas (.in):</label>
      <ng-template #inputProhibidasLleno>
        <label>Archivo seleccionado. Cambiar archivo</label>
      </ng-template>
      <input  type="file" (change)="cargarArchivoProhibidas($event)" accept=".in" hidden #inputProhibidas/>
    </div>

    <div class="input-filled">
      <label>Palabras prohibidas:</label>
      <textarea
      formControlName="palabrasProhibidas"  rows="5" cols="50" placeholder="Escribe o pega el texto aquí..."></textarea>
    </div>

    <button class="procesar-button" [ngClass]="validaciones() ? '' : 'disabled'" (click)="procesarTexto()">Procesar</button>
    <button *ngIf="form.get('texto')?.value?.length > 0" class="reset-button" (click)="resetear(inputTexto, inputProhibidas)">Resetear</button>

    <div *ngIf="resultado.length > 0" class="resultado-container">
      <h3>Resultados</h3>

      <div class="actions-container">
        <button class="action" (click)="ordenarAlfabeticamente()">Ordenar alfabéticamente</button>
        <button class="action" (click)="ordenarPorFrecuencia()">Ordenar por frecuencia</button>
      </div>

      <div class="resultados-wrapper">

        <pre class="resultado" *ngFor="let palabra of resultado">{{ palabra.palabra}}: {{palabra.frecuencia}}</pre>
      </div>
    </div>
  </form>

</div>
